@tailwind base;
@tailwind components;
@tailwind utilities;


@layer {
    .smooth-animation {
        @apply transition-all duration-200 ease-in-out
    }
}

.striped-bg {
    background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23b9b9b9' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
                
}


.striped-bg-light {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23b9b9b9' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
                
}

.success-striped-bg {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2312D18E' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}


.failure-striped-bg {
    background-color: #ffffff;    
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23F75555' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"); 
}


.text-color-purple_darker.border-color-purple_default .striped-bg {
    border: 2px solid #6949FF;
    background: #6949FF !important;
    
}

/* .striped-bg.hint {
    background: repeating-linear-gradient(-45deg,
                #3EEDF7,
                #3EEDF7 2px,
                #ffffff 4px,
                #ffffff 8px);
} */
.striped-bg.hint {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233EEDF7' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

@font-face {
    font-family: 'More Sugar';
    src: url('../../public/MoreSugar-Thin.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'More Sugar';
    src: url('../../public/MoreSugarRegular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}
